DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
# Configuración de Azure (Capa Bronce, Plata y Oro)
AZURE_DB_USER=
AZURE_DB_PASSWORD=
AZURE_DB_HOST=
AZURE_DB_NAME=
AZURE_DB_URL=
AZURE_STORAGE_CONNECTION_STRING=

# YouTube API
YOUTUBE_API_KEY=
